@keyframes ldio-m1638tsocdi {
   0% { transform: rotate(0) }
   100% { transform: rotate(360deg) }
 }
 .ldio-m1638tsocdi div { box-sizing: border-box!important }
 .ldio-m1638tsocdi > div {
   position: absolute;
   width: 69px;
   height: 69px;
   top: 15.5px;
   left: 15.5px;
   border-radius: 50%;
   border: 5px solid #000;
   border-color: #93dbe9 transparent #93dbe9 transparent;
   animation: ldio-m1638tsocdi 1.36986301369863s linear infinite;
 }
 
 .ldio-m1638tsocdi > div:nth-child(2), .ldio-m1638tsocdi > div:nth-child(4) {
   width: 57px;
   height: 57px;
   top: 21.5px;
   left: 21.5px;
   animation: ldio-m1638tsocdi 1.36986301369863s linear infinite reverse;
 }
 .ldio-m1638tsocdi > div:nth-child(2) {
   border-color: transparent #689cc5 transparent #689cc5
 }
 .ldio-m1638tsocdi > div:nth-child(3) { border-color: transparent }
 .ldio-m1638tsocdi > div:nth-child(3) div {
   position: absolute;
   width: 100%;
   height: 100%;
   transform: rotate(45deg);
 }
 .ldio-m1638tsocdi > div:nth-child(3) div:before, .ldio-m1638tsocdi > div:nth-child(3) div:after { 
   content: "";
   display: block;
   position: absolute;
   width: 5px;
   height: 5px;
   top: -5px;
   left: 27px;
   background: #93dbe9;
   border-radius: 50%;
   box-shadow: 0 64px 0 0 #93dbe9;
 }
 .ldio-m1638tsocdi > div:nth-child(3) div:after {
   left: -5px;
   top: 27px;
   box-shadow: 64px 0 0 0 #93dbe9;
 }
 
 .ldio-m1638tsocdi > div:nth-child(4) { border-color: transparent; }
 .ldio-m1638tsocdi > div:nth-child(4) div {
   position: absolute;
   width: 100%;
   height: 100%;
   transform: rotate(45deg);
 }
 .ldio-m1638tsocdi > div:nth-child(4) div:before, .ldio-m1638tsocdi > div:nth-child(4) div:after {
   content: "";
   display: block;
   position: absolute;
   width: 5px;
   height: 5px;
   top: -5px;
   left: 21px;
   background: #689cc5;
   border-radius: 50%;
   box-shadow: 0 52px 0 0 #689cc5;
 }
 .ldio-m1638tsocdi > div:nth-child(4) div:after {
   left: -5px;
   top: 21px;
   box-shadow: 52px 0 0 0 #689cc5;
 }
 .loadingio-spinner-double-ring-qoyfy05qbtk {
   width: 78px;
   height: 78px;
   display: inline-block;
   overflow: hidden;
   background: rgba(NaN, NaN, NaN, 0);
 }
 .ldio-m1638tsocdi {
   width: 100%;
   height: 100%;
   position: relative;
   transform: translateZ(0) scale(0.78);
   backface-visibility: hidden;
   transform-origin: 0 0; /* see note above */
 }
 .ldio-m1638tsocdi div { box-sizing: content-box; }